/* GLOBAL STYLES */
h2 {
    font-family:Didot, serif;
    font-style: oblique;
}

.p15 {
  padding: 15px;
}

.mr10 {
  margin-right: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

/* VALIDATION */
 .error {
  color: crimson;
  font-size: 16px;
  padding: 10px 0px 0px 0px;
}

.success {
  color: lightgreen;
  font-size: 16px;
  padding: 10px 0px 0px 0px;
}

/* TOP NAV */

#topnav {
  padding-left:0px;
  margin-bottom:15px;
  margin-top:25px;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
  }
  
  .header h2 {
    position: relative;
    top: 22px;
    left: 10px;
    margin-bottom: 0px;
  }

  p {
    position: relative;
    top: 22px;
    left: 10px;
    font-size:13px;
  }

#subHeader {
  font-style: oblique;
  font-variant: small-caps;
}


/* BUTTONS */
.addCafe {
  margin:10px 5px 10px 0px;
  font-size:15px;
}


/* REVIEW ORDER SECTION */
#review {
  background-color:#eeeeee;
  text-align: center;
}

#review h4 {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 15px;
}

.list {
  list-style: none;
  padding:10px;
  margin-bottom:5px;
}

.product {
  margin:5px;
  font-size:16px;
  border-bottom:1px solid #acacac;
}

.remove {
  color:crimson;
  cursor: pointer;
  font-size:15px;
  padding-left:10px;
}