h2 {
    /* margin-bottom:30px;
    text-align: left;
    padding-bottom: 15px; */
    font-family:Didot, serif;
    font-style: oblique;
}

.hrgrey {
    border-bottom: 1px solid #e4e4e4;

}

.header img {
    float: left;
    width: 100px;
    height: 100px;
  }
  
  .header h2 {
    position: relative;
    top: 22px;
    left: 10px;
    margin-bottom: 0px;
  }

  p {
    position: relative;
    top: 22px;
    left: 10px;
    font-size:13px;
  }

  .leBtn {
    margin-right: 10px;
}


  .error {
    color: crimson;
    font-size: 16px;
    padding: 10px 0px 0px 0px;
  }

  .success {
    color: lightgreen;
    font-size: 16px;
    padding: 10px 0px 0px 0px;
  }