/* GLOBAL STYLES */
.bkgd {
    padding: 15px;
    border-radius:5px;
    background-color:rgba(0,0,230,0.12);
}

.noDots {
    list-style: none;
}

.pr15 {
    padding-right:15px;
}

.mr10 {
    margin-right: 10px;
}

/* TABLE */

.table_header {
    padding-right: 50px !important;
    padding-bottom:15px;
    font-size: 16px;
}

.table_body {
    font-size: 15px;
    margin-bottom:30px;
}

.table_description {
    padding:10px 5px;
}


.divider {
    border-bottom: solid 2px rgba(0,0,230,0.12);
}